<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <link 
            rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        /> 
        <title>戶外用品店</title>
    </head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">戶外用品店</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
              </div>
        </header>
        <aside>
            shopping categories
        </aside>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 690px by 830px-->
                        <img class="medium" src="./images/p1.jpeg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Arcteryx 始祖鳥 LOGO尼龍腰帶 黑</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                        </div>
                        <div class="price">$1500</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 690px by 830px-->
                        <img class="medium" src="./images/p2.jpeg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Arcteryx 始祖鳥 短袖休閒Tee 白</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star-half-o"></i> </span>
                        </div>
                        <div class="price">$1600</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 690px by 830px-->
                        <img class="medium" src="./images/p3.jpeg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Arcteryx 始祖鳥 32L多功能背包 黑</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                        </div>
                        <div class="price">$5680</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 690px by 830px-->
                        <img class="medium" src="./images/p4.jpeg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Arcteryx 始祖鳥 休閒Tee 翠鳥藍</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                        </div>
                        <div class="price">$1600</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 690px by 830px-->
                        <img class="medium" src="./images/p5.jpeg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Arcteryx 始祖鳥 遮陽帽 黑</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                        </div>
                        <div class="price">$2450</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 690px by 830px-->
                        <img class="medium" src="./images/p6.jpeg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>The North Face 斜背包</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star-o"></i> </span>
                        </div>
                        <div class="price">$1500</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 690px by 830px-->
                        <img class="medium" src="./images/p7.jpeg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>The North Face 男 短袖T恤 黑</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                        </div>
                        <div class="price">$1480</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 690px by 830px-->
                        <img class="medium" src="./images/p8.jpeg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>The North Face 女 短袖T恤 黑</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                        </div>
                        <div class="price">$1480</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 690px by 830px-->
                        <img class="medium" src="./images/p9.jpeg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>SALOMON X ULTRA 4 低筒登山鞋</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                        </div>
                        <div class="price">$5300</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 690px by 830px-->
                        <img class="medium" src="./images/p11.jpeg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Mammut LOGO短袖上衣 海洋藍</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                        </div>
                        <div class="price">$1690</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 690px by 830px-->
                        <img class="medium" src="./images/p12.jpeg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Mammut LOGO短袖上衣 黑</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                        </div>
                        <div class="price">$1690</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 690px by 830px-->
                        <img class="medium" src="./images/p13.jpeg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Mammut Ducan 24L 輕量健行後背包</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                        </div>
                        <div class="price">$5380</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 690px by 830px-->
                        <img class="medium" src="./images/p14.jpeg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Mammut 輕量健行後背包 花崗岩灰</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                        </div>
                        <div class="price">$9700</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 690px by 830px-->
                        <img class="medium" src="./images/p15.jpeg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>MAMMUT 超輕量防水防風外套 藏青</h2>
                        </a>
                        <div class="rating">
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                            <span> <i class="fa fa-star"></i> </span>
                        </div>
                        <div class="price">$8800</div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="row center">All right reserved</footer>
    </div>
</body>
</html>